@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar {
    @apply fixed top-0 left-0 w-screen h-16 flex flex-row bg-gray-900 z-10;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 ml-2 mr-2 my-auto
  hover:bg-mint bg-gray-800 
  text-mint hover:text-gray-800
    hover:rounded-xl rounded-3xl 
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-md
    text-mint bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-center;
  }

  .sidebar-hr {
    @apply bg-gray-800 
    border-l-2 border-gray-800 rounded-full
    my-2 mx-2;
  }
  
  .me-link {
    @apply hover:text-mint text-mint
    transition-all duration-300 ease-in-out 
  }

  .content-container {
    @apply
    bg-gray-900
    m-0 px-4 md:px-20 overflow-hidden
    h-full w-full;
  }

  .btn-blog {
    @apply text-base font-medium rounded-lg p-3 bg-slate-100 text-slate-900;
  }

}

@tailwind utilities;


@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-regular-webfont.eot");
  src: url("/fonts/wotfard/wotfard-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/wotfard/wotfard-regular-webfont.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
.wotfard {
  font-family: "Wotfard";
}